@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap");
* {
  font-family: "Schibsted Grotesk", Arial;
}

/* body */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  counter-reset: no; /* Set the counter to 0 */
}

.no:before {
  counter-increment: no; /* Increment the counter */
  content: counter(no) ; /* Display the counter */
}
/* end body */

/* feather */
.feather-16 {
  width: 16px;
  height: 16px;
}
/* end feather */

/* container */
.container {
  height: 500px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  padding: 15px 0;
}
/* end container */

/* tool */
.tool-bar {
  height: 5rem;
  display: flex;
  margin: 0 5%;
  justify-content: space-around;
  align-items: center;
}

.input-group {
  max-width: 500px;
}
/* end tool */

/* table data */
.table-data {
  margin: 0 5%;
}

th,
td {
  text-align: center;
}
/* end table data */

/* moblie */
@media screen and (max-width: 780px) {
  body {
    display: block;
  }

  .container {
    height: 100vh;
    border-radius: 0;
  }

  .ms-1 {
    margin: 0 5px;
  }
}
/* emd moblie */
